/* header styles */
.logo {
    float: left;
}
.navigation {
    float: right;
}
.nav-li {
    float: left;
    margin-right: 15px;
}
.clear {
    clear: both;
}
.header-wraper {
    background-color: lightblue;
    padding: 30px;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 25;
}
body {
    height: 1000px;
    padding-top:76px;
}
/* .section-1 {
    margin-top:76px;
} */

/* position absolute & relative */
.wraper {
    width: 400px;
    height: 400px;
    background-color: lightgreen;
    position: relative;
}
.box {
    width: 150px;
    height: 150px;
    background-color: lightpink;
    position: absolute;
    right:30px;
    bottom:50px;
    z-index: 5;
}
.box2 {
    width: 150px;
    height: 150px;
    background-color: blue;
    position: absolute;
    top: 100px;
    right: 80px;
    z-index: 6;
}
.box-child {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    right: 0;
    bottom: 0;
}
.test {
    position: absolute;
    top: 80px;
    left: 90px;
    color:#fff;
}


/* Chat icon */
.image-chat {
    height: 80px;
}
.chat-icon {
    position: fixed;
    right: 30px;
    bottom: 50px;
    z-index: 20;
}

/* image example */
.text-image {
    position: absolute;
    top: 100px;
    right: 50px;
    color: red;
}
.images-wraper {
    position: relative;
    width: 1140px;
}
.image-active {
    position: absolute;
    top: 50px;
    left: 100px;
    height: 80px;
}